<nav class="navbar navbar-expand-lg bg-inverse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><%= button_to 'Info', connection_path, class: 'nav-link btn btn-info', method: :get %></li>
    <li class="nav-item"><%= button_to 'Nuke', nuke_path, data: { confirm: "Delete all records?" }, class: 'nav-link btn btn-danger' %></li>
  </ul>
  <form class="form-inline pull-xs-right search">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>
